* {
  margin: 0px;
  padding: 0px;
}

.backG {
  background-color: #353535;
  height: 3400px;
}

@media screen and (max-width: 1000px) {
  .backG {
    height: 4700px;
  }
}

@media screen and (max-width: 900px) {
  .backG {
    height: 5000px;
  }
}

@media screen and (max-width: 800px) {
  .backG {
    height: 6000px;
  }
}

@media screen and (max-width: 700px) {
  .backG {
    height: 7600px;
  }
}

@media screen and (max-width: 500px) {
  .backG {
    height: 7800px;
  }
}

@media screen and (max-width: 400px) {
  .backG {
    height: 8500px;
  }
}

.navba a:hover {
  background-color: black;
  padding: 3px;
  border-radius: 30px;
}

.chat-room {
  font-family: "Brush Script MT";
  text-align: left;
  color: #fff;
}

.Rectangle-2 {
  width: 100px;
  height: 10px;
  display: flex;
  padding-bottom: 40px;
  border-radius: 30px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
  border: solid 3px #e1e1e1;
  background-color: #444;
}

@media screen and (max-width: 900px) {
  .Rectangle-2 {
    margin-top: 15px;
  }
}

.Ellipse-1 {
  width: 40px;
  height: 40px;
  border: solid 3px #fff;
  border-radius: 50%;
  background-color: #444;
}

.Ellipse-1:hover {
  background-color: white;
}

.box2 {
  margin-top: 70px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

@media screen and (max-width: 900px) {
  .box2 {
    flex-direction: column-reverse;
    width: 60%;
  }
}

.caption {
  font-family: Brown;
  font-size: 40px;
  font-weight: bold;
  color: #fff;
}

@media screen and (max-width: 900px) {
  .caption {
    width: 60%;
    margin-left: 50px;
    text-align: center;
  }
}

.sub-caption {
  margin-top: 50px;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}

@media screen and (max-width: 900px) {
  .sub-caption {
    width: 60%;
    text-align: center;
    margin-left: 50px;
  }
}

.arrows {
  margin-right: 40px;
}

.first-arrow {
  width: 200px;
  height: 300px;
}

@media screen and (max-width: 1000px) {
  .arrows {
    display: none;
  }
}

.login {
  margin-top: 20px;
  padding: 20px;
  box-shadow: 50px 0px 2px 30px orange;
  width: 240px;
  height: 400px;
  border-radius: 30px;
  background-color: #fff;
  margin-right: 100px;
}

@media screen and (max-width: 900px) {
  .login {
    box-shadow: 1px 1px 1px 1px black;
    width: 100%;
    height: auto;
    margin-left: 50px;
    box-shadow: 10px 0px 2px 10px orange;
  }
}

.t-s {
  text-align: center;
}

.input-of-nickname {
  width: 200px;
  height: 30px;
  margin-top: 1px;
  border-top: none;
  border-right: none;
  border-left: none;
}

@media screen and (max-width: 900px) {
  .input-of-nickname {
    width: 165px;
  }
}

.mt-2 label {
  font-size: 11px;
}

.btn-log {
  margin-top: 20px;
  padding: 5px 30px 5px 30px;
  border-radius: 30px;
  text-align: center;
}

.btn-log:hover {
  background-color: #353535;
}

div.btn-log {
  border-style: solid;
}

.txt-btn {
  color: black;
  font-size: 20px;
  text-decoration: none;
}
.txt-btn:hover {
  color: #e1e1e1;
}

.slider-caption {
  display: flex;
  justify-content: space-between;
  font-size: 40px;
  font-family: sans-serif;
  color: white;
  margin-top: 120px;
}

@media screen and (max-width: 900px) {
  .slider-caption {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
  }
}

.slider-caption p {
  margin-left: 70px;
}

@media screen and (max-width: 900px) {
  .slider-caption p {
    margin: 0px;
  }
}

.LM-1 {
  margin-left: 20px;
}

.name {
  color: white;
  margin-left: 20px;
  font-size: 20px;
  font-weight: bold;
}

.text-of-img1 {
  color: white;
  font-size: 10px;
  margin-left: 20px;
}

.box3 {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.emma {
  margin-top: 80px;
}

.emma {
  width: 250px;
  height: auto;
}

@media screen and (max-width: 900px) {
  .emma {
    width: 300px;
  }
}

.LM-1 img {
  width: 50px;
}

@media screen and (max-width: 900px) {
  .LM-1 img {
    width: 50px;
  }
}

@media screen and (max-width: 900px) {
  .emma img {
    width: 100%;
  }
}

.pic2 {
  width: 300px;
  height: 380px;
}

@media screen and (max-width: 900px) {
  .pic2 {
    width: 300px;
    height: 350px;
    margin-top: 1px;
  }
}

.text-of-img2 {
  font-size: 10px;
  color: white;
  margin-left: 20px;
}

.LM-2 {
  margin-left: 15px;
}

.LM-2 img {
  width: 70px;
}

.pic3 {
  margin-top: 90px;
}

.pic3 img {
  width: 250px;
  height: auto;
}

@media screen and (max-width: 900px) {
  .pic3 {
    margin-top: 20px;
  }
}

@media screen and (max-width: 900px) {
  .pic3 img {
    margin-top: 20px;
    width: 300px;
  }
}

.LM-3 img {
  width: 50px;
  margin-left: 20px;
}

.orange {
  background-color: #edbb4c;
  padding: 100px;
  border-radius: 20px;
  margin-top: 100px;
}

@media screen and (max-width: 900px) {
  .orange {
    flex-direction: column-reverse;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 900px) {
  .part1 {
    width: 100%;
  }
}

.text-of-orange {
  font-size: 40px;
  font-weight: bold;
  margin-top: 30px;
}

@media screen and (max-width: 900px) {
  .text-of-orange {
    font-size: 20px;
    width: 100%;
    margin-top: 30px;
  }
}

@media screen and (max-width: 900px) {
  .part2 {
    width: 100%;
  }
}

.sub-text-orange {
  padding: 16px 30px 16px 34px;
  border-radius: 140px;
  background-color: #353535;
  color: white;
}

@media screen and (max-width: 900px) {
  .sub-text-orange {
    width: 100%;
    margin-right: 200px;
  }
}

@media screen and (max-width: 900px) {
  .mobile {
    margin-right: 22px;
  }
}

@media screen and (max-width: 900px) {
  .mobile img {
    width: 130px;
    height: 300px;
  }
}

.box5 {
  margin-top: 100px;
}

.box5 h1 {
  color: #ffbb52;
}

.box5 p {
  color: #fff;
}

.pic4 div {
  margin-top: 20px;
}

@media screen and (max-width: 900px) {
  .pic4 div {
    margin-left: 30px;
  }
}

.pic4 div img {
  width: 200px;
}

@media screen and (max-width: 900px) {
  .pic4 div img {
    width: 250px;
  }
}

.box6 div h2 {
  color: #ffbb52;
  text-align: center;
  margin-top: 70px;
}

.r-1 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.ppic1 {
  width: 150px;
  margin-left: 10px;
  margin-top: 10px;
}

.ppic2 {
  width: 130px;
  margin-top: 20px;
  margin-left: 10px;
}

.ppic3 {
  width: 130px;
  margin-left: 10px;
  margin-top: 15px;
}

.ppic4 {
  width: 150px;
  margin-left: 10px;
  margin-top: 15px;
}

.b6-name {
  color: #fff;
  font-size: 20px;
  margin-left: 65px;
}

.b6-name1 {
  color: #fff;
  font-size: 20px;
  margin-left: 50px;
}

.b6-name2 {
  color: #fff;
  font-size: 20px;
  margin-left: 49px;
}

.b6-name3 {
  color: #fff;
  font-size: 20px;
  margin-left: 66px;
}

.who {
  color: #fff;
  margin-left: 60px;
  margin-top: 5px;
  font-size: 15px;
}

.who2 {
  color: #fff;
  margin-left: 60px;
  margin-top: 5px;
  font-size: 15px;
}

.who3 {
  color: #fff;
  margin-left: 60px;
  font-size: 15px;
}

.who4 {
  color: #fff;
  margin-left: 70px;
  font-size: 15px;
}

.txt-profile {
  margin-top: 30px;
  font-size: 10.5px;
  color: white;
  font-family: sans-serif;
}

.Rectangle {
  width: 45%;
  height: 270px;
  border-radius: 40px;
  box-shadow: -1px 1px 70px -27px #828282;
  background-color: #353535;
}

@media screen and (max-width: 900px) {
  .Rectangle {
    width: 100%;
    height: 300px;
  }
}

.likeprofile img {
  width: 40px;
}

footer {
  background-color: #000;
  margin: 0px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 900px) {
  footer {
    justify-content: space-between;
  }
}

footer div {
  color: white;
}

@media screen and (max-width: 900px) {
  footer div {
    display: block;
  }
}

.r1-footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 100px;
}

.footer-chat {
  font-family: "Brush Script MT";
  font-size: 20px;
  color: #fff;
  margin-left: 100px;
}

@media screen and (max-width: 900px) {
  .footer-chat {
    margin-left: 18px;
  }
}

.instagram {
  margin-left: 85px;
  margin-top: 10px;
}

@media screen and (max-width: 900px) {
  .instagram {
    margin-left: 8px;
  }
}

.footer-p2 {
  display: flex;
  justify-content: space-around;
  width: 70%;
  padding-top: 100px;
  padding-bottom: 100px;
}

@media screen and (max-width: 900px) {
  .footer-p2 {
    display: block;
  }
}

hr {
  width: 100px;
  color: #fff;
  margin-top: 20px;
}

footer a {
  color: white;
  text-decoration: none;
}
